<% content_for :title, "Distributors" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Manage Distributors</li>
<%end%>
<div class="row-fluid">
	<div>
		<br/>
		Select Location:
		<%= collection_select(:distributor, :location_id, @locations, :id, :name, :prompt => 'Select Location') %>
	</div>
<div id="distributors_list"></div>
</div>

