<%- model_class = User -%>
<% content_for :title, "Users" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Edit User</li>
<%end%>
<div class="row-fluid">
	<%= render :partial => 'form' %>
</div>	

