<%- model_class = Purchase -%>
<%- count = 0%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @purchases.count > 0%>
purchasessss present
<%else%>
<h4>No Any Purchase made.</h4>
<%end%>
<%= link_to "Create New Purchase",
            new_purchase_path,
            :class => 'btn btn-primary' %>
