<%- model_class = Purchase -%>
<% content_for :title, "Purchase" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">New Purchase</li>
<%end%>
<div class="row-fluid">
	<%= render :partial => 'form' %>
</div>