<%- model_class = Client -%>
<%- model_class = Client -%>
<% content_for :title, "Clients" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">New Client</li>
<%end%>

<div class="row-fluid">
	<%= render :partial => 'form' %>
</div>


