<% content_for :title, "Edit Vendor" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/vendors">Vendor</a> <span class="divider">/</span></li>
<%end%>

<%- model_class = Vendor -%>
<%= render :partial => 'form' %>
