<% content_for :title, "New Vendor" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/vendors">Vendor</a> <span class="divider">/</span></li>
<%end%>
<div class="row-fluid">
<%= render :partial => 'form' %>
</div>