/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 /*
 *= require jquery.ui.all
 */
.navbar-fixed-top, .navbar-fixed-bottom {
	position: relative !important;
}
.btn-danger, .btn-primary  {
	color: white !important;
}
[class*="span"] {
	min-height: 500px !important;
}
.reporting-div{
	padding:10px;
}
.total-class{
	font-size: 1.3em;
	font-weight: bolder;
}
.padd-left15{
	padding-left: 15px;
}