<%= f.fields_for :invoice_products do |builder| %>
      <%= render "invoice_product_fields", :f => builder %>
<% end %>
<div><%= link_to_add_association 'Add new Product', f, :invoice_products %> </div>