hello and welcome to index of reports

<h4>Please select Report type</h4>
<ul>
	<li> <%= link_to "Monthly Invoicing Report", monthly_invoicing_reports_path%></li>
	<li><%= link_to "Monthly Inventory Report by Distributor", monthly_inventory_reports_path %></li>
	<li><%= link_to "Level of Business Comparison Report for Distributors"%></li>
	
</ul>